Repository marko-js/cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f visualstudio

.lintstagedrc:

{
    "*.{json,css,less,md}": [
      "prettier --write",
      "git add"
    ],
    "*.js": [
      "prettier --write",
      "eslint -f visualstudio",
      "git add"
    ]
}

feat(test): upgrade wdio (#130)
  .huskyrc
  .lintstagedrc
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/create/package-lock.json
  packages/prettyprint/package-lock.json
  packages/test/package-lock.json
  packages/test/package.json
  packages/test/src/util/browser-tests-runner/driver.js
  packages/test/src/util/browser-tests-runner/util/wdio-defaults.js
Due: prettier --write, eslint -f visualstudio

chore: publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/test/CHANGELOG.md
  packages/test/package.json
Due: prettier --write

fix(test): resize based on viewport instead of window
  packages/test/src/util/browser-tests-runner/driver.js
Due: prettier --write, eslint -f visualstudio

fix(test): try to resize browsers multiple times
  packages/test/src/util/browser-tests-runner/driver.js
Due: prettier --write, eslint -f visualstudio

fix(test): no longer error after tests in some cases
  packages/test/src/util/browser-tests-runner/browser-dependencies/index.js
Due: prettier --write, eslint -f visualstudio

fix(test): improve stack traces in browser tests
  packages/test/src/util/browser-tests-runner/browser-dependencies/index.js
Due: prettier --write, eslint -f visualstudio

fix(test): downgrade strip-ansi for improved browser support
  packages/test/package.json
Due: prettier --write

fix(test): err.stack not always available in IE11
  packages/test/src/util/browser-tests-runner/browser-dependencies/index.js
Due: prettier --write, eslint -f visualstudio

fix(prettyprint): whitespace for scriptlet preceded by text
  packages/migrate/test/fixtures/multiple-templates/snapshot-expected.marko
  packages/migrate/test/fixtures/single-template/snapshot-expected.marko
  packages/migrate/test/fixtures/single-widget-rename-and-dependent-paths/snapshot-expected.marko
  packages/prettyprint/src/prettyPrintAST.js
  packages/prettyprint/test/fixtures/scriptlet-preceded-by-text/pretty-concise-expected.marko
  packages/prettyprint/test/fixtures/scriptlet-preceded-by-text/pretty-html-expected.marko
  packages/prettyprint/test/fixtures/scriptlet-preceded-by-text/rendered-concise-expected.html
  packages/prettyprint/test/fixtures/scriptlet-preceded-by-text/rendered-html-expected.html
  packages/prettyprint/test/fixtures/scriptlet-preceded-by-text/template.marko
Due: prettier --write, eslint -f visualstudio

chore: update deps, pin marko to 4.14.21 for prettyprint
  package-lock.json
  packages/build/package-lock.json
  packages/prettyprint/package-lock.json
  packages/prettyprint/package.json
  packages/serve/package-lock.json
  packages/test/package-lock.json
Due: prettier --write

chore(serve): add basic test setup
  .gitignore
  .nycrc
  package-lock.json
  package.json
  packages/build/src/index.js
  packages/build/test/components/counter/index.marko
  packages/build/test/index.js
  packages/build/test/test.marko
  packages/serve/README.md
  packages/serve/package.json
  packages/serve/src/cli.js
  packages/serve/src/index.js
  packages/serve/test/components/counter/index.marko
  packages/serve/test/fixtures/image/expected.png
  packages/serve/test/fixtures/image/target/index.marko
  packages/serve/test/fixtures/image/target/logo.png
  packages/serve/test/fixtures/simple/expected.png
  packages/serve/test/fixtures/simple/target.marko
  packages/serve/test/index.js
  packages/serve/test/index.test.js
  packages/serve/test/test.marko
Due: prettier --write, eslint -f visualstudio

docs: fix npm badge links
  README.md
Due: prettier --write

test(serve): add parameter test
  packages/serve/test/fixtures/params-and-queries/expected.png
  packages/serve/test/fixtures/params-and-queries/target/blog/:id.marko
  packages/serve/test/fixtures/params-and-queries/test.js
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

fix(build): resolve marko files
  packages/build/src/index.js
Due: prettier --write, eslint -f visualstudio

fix(build): fix and style the directory index
  packages/build/src/files/dir-index.marko
  packages/build/src/files/dir.png
  packages/build/src/files/file.png
  packages/build/src/files/parent-dir.png
  packages/serve/test/fixtures/directory-index/expected.png
  packages/serve/test/fixtures/directory-index/target/bar.marko
  packages/serve/test/fixtures/directory-index/target/foo/hello.marko
Due: none

docs(serve): add features & getting started guide to readme
  packages/build/README.md
  packages/serve/README.md
Due: prettier --write

fix(serve): reload browser on file change
  package-lock.json
  package.json
  packages/build/package-lock.json
  packages/build/package.json
  packages/serve/src/index.js
  packages/serve/test/fixtures/update/after-expected.png
  packages/serve/test/fixtures/update/expected.png
  packages/serve/test/fixtures/update/target.marko
  packages/serve/test/fixtures/update/test.js
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

test(serve): assert on the html rather than screenshot pixels
  .gitignore
  package-lock.json
  package.json
  packages/serve/test/fixtures/directory-index/build-expected.html
  packages/serve/test/fixtures/directory-index/expected.png
  packages/serve/test/fixtures/directory-index/serve-expected.html
  packages/serve/test/fixtures/image/build-expected.html
  packages/serve/test/fixtures/image/expected.png
  packages/serve/test/fixtures/image/serve-expected.html
  packages/serve/test/fixtures/params-and-queries/build-expected.html
  packages/serve/test/fixtures/params-and-queries/expected.png
  packages/serve/test/fixtures/params-and-queries/serve-expected.html
  packages/serve/test/fixtures/simple/build-expected.html
  packages/serve/test/fixtures/simple/expected.png
  packages/serve/test/fixtures/simple/serve-expected.html
  packages/serve/test/fixtures/update/after-expected.png
  packages/serve/test/fixtures/update/after-serve-expected.html
  packages/serve/test/fixtures/update/build-expected.html
  packages/serve/test/fixtures/update/expected.png
  packages/serve/test/fixtures/update/serve-expected.html
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

chore: use older version of npm < 6.6.0 because it actually works
  .travis.yml
Due: none

chore: use older version of npm < 6.6.0 because it actually works (#136)
  .travis.yml
Due: none

chore(serve): update spawn-server-webpack-plugin
  package-lock.json
  packages/serve/package.json
Due: prettier --write

Improve README (#135)
  README.md
  packages/cli/README.md
Due: prettier --write

chore: publish
  packages/build/CHANGELOG.md
  packages/build/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/migrate/CHANGELOG.md
  packages/migrate/package.json
  packages/prettyprint/CHANGELOG.md
  packages/prettyprint/package.json
  packages/serve/CHANGELOG.md
  packages/serve/package.json
  packages/test/CHANGELOG.md
  packages/test/package.json
Due: prettier --write

chore: publish
  packages/build/CHANGELOG.md
  packages/build/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/compile/CHANGELOG.md
  packages/compile/package.json
  packages/create/CHANGELOG.md
  packages/create/package.json
  packages/migrate/CHANGELOG.md
  packages/migrate/package.json
  packages/prebuild/CHANGELOG.md
  packages/prebuild/package.json
  packages/prettyprint/CHANGELOG.md
  packages/prettyprint/package.json
  packages/serve/CHANGELOG.md
  packages/serve/package.json
  packages/test/CHANGELOG.md
  packages/test/package.json
Due: prettier --write

chore: switch README symlink to root
  README.md
  packages/cli/README.md
Due: prettier --write

chore: publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: prettier --write

feat(migrate): update legacy widget migrations
  packages/migrate/package.json
Due: prettier --write

chore: publish
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/migrate/CHANGELOG.md
  packages/migrate/package.json
Due: prettier --write

fix(test): issue with cleanup not happending, upgrade chromedriver
  packages/build/package-lock.json
  packages/prettyprint/package-lock.json
  packages/serve/package-lock.json
  packages/test/package.json
  packages/test/src/util/browser-tests-runner/util/ensure-called.js
Due: prettier --write, eslint -f visualstudio

fix(test): update chrome options
  packages/test/src/util/browser-tests-runner/driver.js
  packages/test/src/util/browser-tests-runner/index.js
  packages/test/src/util/browser-tests-runner/util/wdio-defaults.js
Due: prettier --write, eslint -f visualstudio
