Repository marko-js/cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f visualstudio

fix(build): define BUNDLE env for browser compiler
  packages/build/src/index.js
Due: prettier --write, eslint -f visualstudio

chore: publish
  packages/build/CHANGELOG.md
  packages/build/package-lock.json
  packages/build/package.json
  packages/serve/CHANGELOG.md
  packages/serve/package-lock.json
  packages/serve/package.json
Due: prettier --write

fix: add missing babel runtime dep
  packages/build/package.json
  packages/prettyprint/package.json
  packages/test/package.json
Due: prettier --write

chore: publish
  packages/build/CHANGELOG.md
  packages/build/package-lock.json
  packages/build/package.json
  packages/migrate/CHANGELOG.md
  packages/migrate/package.json
  packages/prettyprint/CHANGELOG.md
  packages/prettyprint/package-lock.json
  packages/prettyprint/package.json
  packages/serve/CHANGELOG.md
  packages/serve/package-lock.json
  packages/serve/package.json
  packages/test/CHANGELOG.md
  packages/test/package-lock.json
  packages/test/package.json
Due: prettier --write

feat: add support for custom webpack.config.js
  packages/build/README.md
  packages/build/src/cli.js
  packages/build/src/index.js
  packages/serve/src/cli.js
  packages/serve/src/index.js
  packages/serve/test/fixtures/custom-webpack-config/build-expected.html
  packages/serve/test/fixtures/custom-webpack-config/serve-expected.html
  packages/serve/test/fixtures/custom-webpack-config/target.marko
  packages/serve/test/fixtures/custom-webpack-config/webpack.config.js
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

fix(build): path handling in windows
  packages/build/src/util.js
Due: prettier --write, eslint -f visualstudio

fix(build): 404 when dev mode receives non dev server asset request
  packages/build/src/files/server.js
Due: prettier --write, eslint -f visualstudio

fix: remove incomplete static build logic
  packages/build/src/cli.js
Due: prettier --write, eslint -f visualstudio

chore: update dependencies
  package-lock.json
  packages/build/package-lock.json
  packages/serve/package-lock.json
Due: prettier --write

fix: custom webpack test
  packages/serve/test/fixtures/custom-webpack-config/webpack.config.js
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

feat: better custom browserlist support + only one dev build
  packages/build/src/files/server.js
  packages/build/src/index.js
  packages/serve/test/fixtures/custom-browserslist/.browserslistrc
  packages/serve/test/fixtures/custom-browserslist/build-expected.html
  packages/serve/test/fixtures/custom-browserslist/serve-expected.html
  packages/serve/test/fixtures/custom-browserslist/target.marko
Due: prettier --write, eslint -f visualstudio

chore: update failing snapshots
  packages/serve/test/fixtures/add-route/after-serve-expected.html
  packages/serve/test/fixtures/add-route/build-expected.html
  packages/serve/test/fixtures/add-route/serve-expected.html
  packages/serve/test/fixtures/directory-index/build-expected.html
  packages/serve/test/fixtures/directory-index/serve-expected.html
Due: none

feat(build): marko 5 support for src attributes transform
  packages/build/src/components/src-attributes-transformer.js
  packages/serve/test/fixtures/image/target/index.marko
Due: prettier --write, eslint -f visualstudio

feat: add support for custom webpack.config.js (#170)
  package-lock.json
  packages/build/README.md
  packages/build/package-lock.json
  packages/build/src/cli.js
  packages/build/src/files/server.js
  packages/build/src/index.js
  packages/serve/package-lock.json
  packages/serve/src/cli.js
  packages/serve/src/index.js
  packages/serve/test/fixtures/custom-browserslist/.browserslistrc
  packages/serve/test/fixtures/custom-browserslist/build-expected.html
  packages/serve/test/fixtures/custom-browserslist/serve-expected.html
  packages/serve/test/fixtures/custom-browserslist/target.marko
  packages/serve/test/fixtures/custom-webpack-config/build-expected.html
  packages/serve/test/fixtures/custom-webpack-config/serve-expected.html
  packages/serve/test/fixtures/custom-webpack-config/target.marko
  packages/serve/test/fixtures/custom-webpack-config/webpack.config.js
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

feat: exclude components directory from served pages
  packages/build/src/index.js
  packages/serve/test/fixtures/directory-index/target/components/example.marko
Due: prettier --write, eslint -f visualstudio

feat: exclude components directory from served pages (#173)
  packages/build/src/index.js
  packages/serve/test/fixtures/directory-index/target/components/example.marko
Due: prettier --write, eslint -f visualstudio

fix: only call done once after removing build dirs
  packages/build/src/cli.js
Due: prettier --write, eslint -f visualstudio

fix: don't watch components/ for new pages
  packages/build/src/index.js
  packages/build/src/util.js
Due: prettier --write, eslint -f visualstudio

feat(build): add static site building and middleware output
  package-lock.json
  package.json
  packages/build/package-lock.json
  packages/build/package.json
  packages/build/src/cli.js
  packages/build/src/files/middleware.js
  packages/build/src/files/server.js
  packages/build/src/index.js
  packages/build/src/util.js
  packages/serve/package-lock.json
  packages/serve/test/fixtures/directory-index/static-expected.html
  packages/serve/test/fixtures/image/static-expected.html
  packages/serve/test/fixtures/params-and-queries/static-expected.html
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.br
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.gz
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.map
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.map.br
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.map.gz
  packages/serve/test/fixtures/simple/static-expected.html
  packages/serve/test/fixtures/update/static-expected.html
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

docs(build): add docs for --static
  packages/build/README.md
Due: prettier --write

fix: move browser env check to middleware, update snaps
  packages/build/src/files/middleware.js
  packages/build/src/files/server.js
  packages/serve/test/fixtures/add-route/static-expected.html
  packages/serve/test/fixtures/custom-browserslist/static-expected.html
  packages/serve/test/fixtures/custom-webpack-config/static-expected.html
  packages/serve/test/fixtures/directory-index/static-expected.html
  packages/serve/test/fixtures/image/static-expected.html
  packages/serve/test/fixtures/params-and-queries/static-expected.html
  packages/serve/test/fixtures/root-path-folder/static-expected.html
  packages/serve/test/fixtures/update/static-expected.html
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

fix: log top-level error, fix entryname, use non-wp-req
  packages/build/src/cli.js
  packages/build/src/files/middleware.js
  packages/build/src/index.js
Due: prettier --write, eslint -f visualstudio

fix(prettyprint): ensure supported copy of Marko is used
  packages/prettyprint/package.json
  packages/prettyprint/src/util/requireMarkoFile.js
Due: prettier --write, eslint -f visualstudio

chore: publish
  packages/migrate/CHANGELOG.md
  packages/migrate/package.json
  packages/prettyprint/CHANGELOG.md
  packages/prettyprint/package-lock.json
  packages/prettyprint/package.json
Due: prettier --write

feat(build): add static site building and middleware output (#137)
  package-lock.json
  package.json
  packages/build/README.md
  packages/build/package.json
  packages/build/src/cli.js
  packages/build/src/files/middleware.js
  packages/build/src/files/server.js
  packages/build/src/index.js
  packages/build/src/util.js
  packages/serve/test/fixtures/add-route/static-expected.html
  packages/serve/test/fixtures/custom-browserslist/static-expected.html
  packages/serve/test/fixtures/custom-webpack-config/static-expected.html
  packages/serve/test/fixtures/directory-index/static-expected.html
  packages/serve/test/fixtures/image/static-expected.html
  packages/serve/test/fixtures/params-and-queries/static-expected.html
  packages/serve/test/fixtures/root-path-folder/static-expected.html
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.br
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.gz
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.map
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.map.br
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.map.gz
  packages/serve/test/fixtures/simple/static-expected.html
  packages/serve/test/fixtures/update/static-expected.html
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

fix(serve): update tests, asset serving, static site directory
  packages/build/src/files/middleware.js
  packages/build/src/util.js
  packages/serve/src/index.js
  packages/serve/test/fixtures/add-route/static-expected.html
  packages/serve/test/fixtures/directory-index/static-expected.html
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.br
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.gz
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.map
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.map.br
  packages/serve/test/fixtures/simple/build/assets/target_SLyH.8af7dba4.js.map.gz
Due: prettier --write, eslint -f visualstudio

fix(build): remove hashes from static site paths
  packages/build/src/util.js
Due: prettier --write, eslint -f visualstudio

fix(build): ignore empty targets with custom browser list
  packages/build/src/index.js
Due: prettier --write, eslint -f visualstudio

Fix typo(?) in watchContext template literal
  packages/build/src/util.js
Due: prettier --write, eslint -f visualstudio

feat(serve): all static html saved at index.html for better redirects
  packages/build/src/util.js
  packages/serve/test/fixtures/add-route/static-expected.html
  packages/serve/test/fixtures/directory-index/static-expected.html
Due: prettier --write, eslint -f visualstudio

Path conditions:
  prettier --write: (any of: *.{json,css,less,md}) or (any of: *.js)
  eslint -f visualstudio: any of: *.js
