Repository marko-js/cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -f visualstudio

fix(build): improve support for .cjs files
  packages/build/src/index.js
Due: prettier --write, eslint -f visualstudio

chore: publish
  packages/build/CHANGELOG.md
  packages/build/package-lock.json
  packages/build/package.json
  packages/serve/CHANGELOG.md
  packages/serve/package.json
Due: prettier --write

fix(build): fix warning about NODE_ENV defined twice
  packages/build/src/index.js
Due: prettier --write, eslint -f visualstudio

fix(test): fix regression with legacy test API
  packages/test/src/util/server-tests-runner/ServerContext.js
Due: prettier --write, eslint -f visualstudio

chore: upgrade deps, add github ci
  .github/workflows/ci.yml
  .lintstagedrc
  .nycrc
  .travis.yml
  package-lock.json
  package.json
  packages/build/package-lock.json
  packages/build/package.json
  packages/create/package.json
  packages/migrate/package-lock.json
  packages/migrate/package.json
  packages/prettyprint/package-lock.json
  packages/prettyprint/package.json
  packages/serve/package.json
  packages/serve/test/fixtures/add-route/after-serve-expected.html
  packages/serve/test/fixtures/add-route/build-expected.html
  packages/serve/test/fixtures/add-route/serve-expected.html
  packages/serve/test/fixtures/add-route/static-expected.html
  packages/serve/test/fixtures/directory-index/build-expected.html
  packages/serve/test/fixtures/directory-index/serve-expected.html
  packages/serve/test/fixtures/directory-index/static-expected.html
  packages/test/package-lock.json
  packages/test/package.json
Due: prettier --write

feat(test): improve defaults for github actions
  packages/test/src/util/browser-tests-runner/driver.js
Due: prettier --write, eslint -f visualstudio

chore: update CI badge
  README.md
Due: prettier --write

chore(serve): update puppeteer version used for testing
  package-lock.json
  package.json
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

fix: don't use npm ci for ci, doesn't work with lerna hoist
  .github/workflows/ci.yml
Due: none

chore: properly ugprade to husky 6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
Due: prettier --write

fix: lint errors
  packages/prettyprint/src/printNode.js
  packages/prettyprint/src/util/readConfigFile.js
  packages/prettyprint/src/util/readConfigFile[browser].js
  packages/test/src/util/server-tests-runner/mocha-tests-server.js
Due: prettier --write, eslint -f visualstudio

fix: duplicate lint-staged config
  package.json
Due: prettier --write

chore(serve): snapshot html normalization missing some sizes
  packages/serve/test/fixtures/add-route/static-expected.html
  packages/serve/test/fixtures/directory-index/static-expected.html
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

chore: publish
  packages/build/CHANGELOG.md
  packages/build/package.json
  packages/create/CHANGELOG.md
  packages/create/package.json
  packages/migrate/CHANGELOG.md
  packages/migrate/package-lock.json
  packages/migrate/package.json
  packages/prettyprint/CHANGELOG.md
  packages/prettyprint/package-lock.json
  packages/prettyprint/package.json
  packages/serve/CHANGELOG.md
  packages/serve/package.json
  packages/test/CHANGELOG.md
  packages/test/package.json
Due: prettier --write

feat(build): update deps, support css preprocessors
  .prettierrc
  package-lock.json
  package.json
  packages/build/package.json
  packages/build/src/index.js
  packages/serve/package.json
  packages/serve/test/fixtures/add-route/after-serve-expected.html
  packages/serve/test/fixtures/add-route/build-expected.html
  packages/serve/test/fixtures/add-route/serve-expected.html
  packages/serve/test/fixtures/add-route/static-expected.html
  packages/serve/test/fixtures/custom-browserslist/build-expected.html
  packages/serve/test/fixtures/custom-browserslist/serve-expected.html
  packages/serve/test/fixtures/custom-browserslist/static-expected.html
  packages/serve/test/fixtures/custom-webpack-config/build-expected.html
  packages/serve/test/fixtures/custom-webpack-config/serve-expected.html
  packages/serve/test/fixtures/custom-webpack-config/static-expected.html
  packages/serve/test/fixtures/directory-index/build-expected.html
  packages/serve/test/fixtures/directory-index/serve-expected.html
  packages/serve/test/fixtures/directory-index/static-expected.html
  packages/serve/test/fixtures/image/build-expected.html
  packages/serve/test/fixtures/image/serve-expected.html
  packages/serve/test/fixtures/image/static-expected.html
  packages/serve/test/fixtures/params-and-queries/build-expected.html
  packages/serve/test/fixtures/params-and-queries/serve-expected.html
  packages/serve/test/fixtures/root-path-folder/build-expected.html
  packages/serve/test/fixtures/root-path-folder/serve-expected.html
  packages/serve/test/fixtures/root-path-folder/static-expected.html
  packages/serve/test/fixtures/simple/build-expected.html
  packages/serve/test/fixtures/simple/serve-expected.html
  packages/serve/test/fixtures/simple/static-expected.html
  packages/serve/test/fixtures/update/after-serve-expected.html
  packages/serve/test/fixtures/update/build-expected.html
  packages/serve/test/fixtures/update/serve-expected.html
  packages/serve/test/fixtures/update/static-expected.html
  packages/serve/test/fixtures/update/target.marko
  packages/serve/test/fixtures/update/test.js
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

feat(build): update deps, support css preprocessors (#186)
  .prettierrc
  package-lock.json
  package.json
  packages/build/package.json
  packages/build/src/index.js
  packages/serve/package.json
  packages/serve/test/fixtures/add-route/after-serve-expected.html
  packages/serve/test/fixtures/add-route/build-expected.html
  packages/serve/test/fixtures/add-route/serve-expected.html
  packages/serve/test/fixtures/add-route/static-expected.html
  packages/serve/test/fixtures/custom-browserslist/build-expected.html
  packages/serve/test/fixtures/custom-browserslist/serve-expected.html
  packages/serve/test/fixtures/custom-browserslist/static-expected.html
  packages/serve/test/fixtures/custom-webpack-config/build-expected.html
  packages/serve/test/fixtures/custom-webpack-config/serve-expected.html
  packages/serve/test/fixtures/custom-webpack-config/static-expected.html
  packages/serve/test/fixtures/directory-index/build-expected.html
  packages/serve/test/fixtures/directory-index/serve-expected.html
  packages/serve/test/fixtures/directory-index/static-expected.html
  packages/serve/test/fixtures/image/build-expected.html
  packages/serve/test/fixtures/image/serve-expected.html
  packages/serve/test/fixtures/image/static-expected.html
  packages/serve/test/fixtures/params-and-queries/build-expected.html
  packages/serve/test/fixtures/params-and-queries/serve-expected.html
  packages/serve/test/fixtures/root-path-folder/build-expected.html
  packages/serve/test/fixtures/root-path-folder/serve-expected.html
  packages/serve/test/fixtures/root-path-folder/static-expected.html
  packages/serve/test/fixtures/simple/build-expected.html
  packages/serve/test/fixtures/simple/serve-expected.html
  packages/serve/test/fixtures/simple/static-expected.html
  packages/serve/test/fixtures/update/after-serve-expected.html
  packages/serve/test/fixtures/update/build-expected.html
  packages/serve/test/fixtures/update/serve-expected.html
  packages/serve/test/fixtures/update/static-expected.html
  packages/serve/test/fixtures/update/target.marko
  packages/serve/test/fixtures/update/test.js
  packages/serve/test/index.test.js
Due: prettier --write, eslint -f visualstudio

chore: publish
  packages/build/CHANGELOG.md
  packages/build/package.json
  packages/serve/CHANGELOG.md
  packages/serve/package.json
Due: prettier --write

fix: add support for [id] naming for params
  packages/build/src/util.js
  packages/serve/README.md
  packages/serve/test/fixtures/params-and-queries-deprecated/build-expected.html
  packages/serve/test/fixtures/params-and-queries-deprecated/serve-expected.html
  packages/serve/test/fixtures/params-and-queries-deprecated/static-expected.html
  packages/serve/test/fixtures/params-and-queries-deprecated/target/blog/:id.marko
  packages/serve/test/fixtures/params-and-queries-deprecated/test.js
  packages/serve/test/fixtures/params-and-queries/serve-expected.html
  packages/serve/test/fixtures/params-and-queries/target/blog/[id].marko
Due: prettier --write, eslint -f visualstudio

fix: add support for [id] naming for params (#187)
  packages/build/src/util.js
  packages/serve/README.md
  packages/serve/test/fixtures/params-and-queries-deprecated/build-expected.html
  packages/serve/test/fixtures/params-and-queries-deprecated/serve-expected.html
  packages/serve/test/fixtures/params-and-queries-deprecated/static-expected.html
  packages/serve/test/fixtures/params-and-queries-deprecated/target/blog/:id.marko
  packages/serve/test/fixtures/params-and-queries-deprecated/test.js
  packages/serve/test/fixtures/params-and-queries/serve-expected.html
  packages/serve/test/fixtures/params-and-queries/target/blog/[id].marko
Due: prettier --write, eslint -f visualstudio

feat(create): add support for package managers besides npm
  packages/create-alias/package.json
  packages/create-alias/src/index.js
  packages/create/README.md
  packages/create/src/cli.js
  packages/create/src/index.js
Due: prettier --write, eslint -f visualstudio

feat(create): add support for package managers besides npm (#188)
  packages/create-alias/package.json
  packages/create-alias/src/index.js
  packages/create/README.md
  packages/create/src/cli.js
  packages/create/src/index.js
Due: prettier --write, eslint -f visualstudio

fix(create): use a fallback git author if missing
  packages/create/src/init-git-repo.js
Due: prettier --write, eslint -f visualstudio

fix(create): use a fallback git author if missing (#189)
  packages/create/src/init-git-repo.js
Due: prettier --write, eslint -f visualstudio

chore: publish
  packages/build/CHANGELOG.md
  packages/build/package.json
  packages/create-alias/CHANGELOG.md
  packages/create-alias/package.json
  packages/create/CHANGELOG.md
  packages/create/package.json
  packages/serve/CHANGELOG.md
  packages/serve/package.json
Due: prettier --write

fix(create-marko): bin name for yarn create
  packages/create-alias/package.json
Due: prettier --write

chore: publish
  packages/create-alias/CHANGELOG.md
  packages/create-alias/package.json
Due: prettier --write

fix(build): update deps
  package-lock.json
  packages/build/package.json
  packages/migrate/package-lock.json
  packages/prettyprint/package-lock.json
  packages/prettyprint/test/fixtures/placeholders-string-double-backslash/pretty-concise-expected.marko
  packages/prettyprint/test/fixtures/placeholders-string-double-backslash/pretty-html-expected.marko
  packages/serve/package.json
  packages/serve/test/fixtures/custom-browserslist/build-expected.html
  packages/serve/test/fixtures/custom-browserslist/static-expected.html
Due: prettier --write

fix(build): improve sass support, fix css-loader issue
  packages/build/package.json
  packages/build/src/index.js
Due: prettier --write, eslint -f visualstudio

feat(test): remove deprecated apis
  packages/test/README.md
  packages/test/package.json
  packages/test/src/util/browser-tests-runner/browser-dependencies/browser-context.js
  packages/test/src/util/browser-tests-runner/browser-dependencies/index.js
  packages/test/src/util/browser-tests-runner/bundler.js
  packages/test/src/util/server-tests-runner/ServerContext.js
  packages/test/src/util/server-tests-runner/mocha-tests-server.js
Due: prettier --write, eslint -f visualstudio

chore: publish
  packages/test/CHANGELOG.md
  packages/test/package.json
Due: prettier --write

fix(test): issue loading test files
  packages/test/src/util/browser-tests-runner/bundler.js
Due: prettier --write, eslint -f visualstudio

fix(build): issue with ensuring css loaders for sass
  packages/build/src/index.js
Due: prettier --write, eslint -f visualstudio

chore: upgrade some deps
  babel.config.js
  lerna.json
  package-lock.json
  package.json
  packages/build/package.json
  packages/serve/package.json
  yarn.lock
Due: prettier --write, eslint -f visualstudio

fix(build): avoid using deprecated webpack apis
  packages/build/src/util.js
Due: prettier --write, eslint -f visualstudio

fix(test): ensure istanbul transform runs last
  packages/test/src/util/browser-tests-runner/bundler.js
Due: prettier --write, eslint -f visualstudio

Path conditions:
  prettier --write: (any of: *.{json,css,less,md}) or (any of: *.js)
  eslint -f visualstudio: any of: *.js
